/*
.postbox-container .postbox{
    margin: 1em;
    border: 1px solid red;
    border-bottom: 1px solid green;
}
*/

#aisee-tag.postbox p.submit {
    float: none;
}

.aisee-action-add,
.aisee-action-remove {
    display: inline-block;
    font-weight: 500;
    color: white;
    padding: 0.618em 0.381em;
    line-height: 1em;
    cursor: pointer;
}

.aisee-action-add {
    background-color: green;
}

.aisee-action-remove {
    background-color: red;
}

#aisee-tag-cloud {
    text-align: center;
    text-transform: uppercase;
}

.aiseeseo_slider {
    margin: .618em 0;
    width: 75%;
}

.aiseeseo_status {
    padding: .618em 1em;
    border: 1px solid gray;
    color: white;
}

.aiseeseo_status_success {
    background: green;
}

.aiseeseo_status_error {
    background: red;
}

.aitag {
    text-transform: uppercase;
    margin: 0.05em 0;
    display: inline-flex;
    background: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 1.618em;
    line-height: 1em;
}

#aisee_reg_form input {
    display: block;
    width: 250px;
    padding: .618em 1em;
    margin-bottom: .618em;
}

#aisee_gsc_keywords {
    border-collapse: collapse;
}

#aisee_gsc_keywords th {
    background: #eee;
    padding: .618em 1em;
}

#aisee_gsc_keywords tr:nth-child(even) {
    background: #f7f7f7;
}

#aisee_gsc_keywords tr:nth-child(odd) {
    background: #fff;
}

#aisee_gsc_keywords td {
    padding: .618em 1em;
}

.aisee-btn {
    transition: all .2s linear !important;
}

.aisee-btn-loading {
    background-image: url(brand-icon-anim.svg) !important;
    background-repeat: no-repeat !important;
    background-size: 18px !important;
    background-position: 10px center !important;
    padding-left: 40px !important;
    text-shadow: 0 -1px 1px #eee, 1px 0 1px #eee, 0 1px 1px #eee, -1px 0 1px #eee !important;
    box-shadow: 0 1px 0 #ccc !important;
    background-color: white !important;
    border-color: #ccc !important;
    color: #000 !important;
}


/* #aisee-register {
    padding: .618em 1em;
    margin-bottom: .618em;
    box-sizing: content-box;
} */

.aisee_suggestions {
    box-sizing: border-box;
}

.aisee_suggestions li {
    padding: .618em 1em;
}